#title{
	text-align: center;
	color: red;
	font-size: 40px;
	padding-left: 70px;
}
.register{
	padding: 20px;
	border: 1px solid blue;
	margin-top: 100px;
	margin-left: 35%;
	width: 20%;
	color: blue;
	background-color: #f4e8f4;
}
#username{
	width: 120%;
	height: 20px;
	margin-top: 5px;

}
#password{
	margin-top: 5px;
	width: 120%;
	height: 20px;

}
#confirmPassword{
	width: 120%;
	height: 20px;	
	margin-top: 5px;
}
#email{
	width: 120%;
	height: 20px;	
	margin-top: 5px;
}
#country{
	width: 120%;
	height: 20px;	
	margin-top: 5px;
}
#button{
	margin-top: 15px;
	color: white;
	background-color: #4848a8;
	width: 100px;
	height: 40px;
}
#messageUser{
	color: red;
}
#messageEmail{
	color: red;
}
#messagePass{
	color: red;
}
#messageConfirmPass{
	color: red;
}
#messageGender{
	color: red;
}

